<form name="nameForm">
  <div layout="row" layout-align="space-around start" flex>
    <div style="width: 66%;">
      <md-grid-list md-cols-sm="1" md-cols-gt-sm="3"
                    md-row-height="2:1"
                    md-gutter="8px" md-gutter-gt-sm="4px">
        <md-grid-tile ng-repeat="ca in character.character_abilities"
                      md-rowspan="1" md-colspan="1">
          <div class="ability {{character.ability_proficiency(ca.ability) ? 'proficient' : ''}}" flex>
            <img ng-src="{{urls[ca.ability.name]}}" style="width:100%"/>
          </div>
          <div class="ability" flex>
            <md-content layout-padding layout="column" layout-sm="column">
              <md-input-container>
                <label>Ability</label>
                <input ng-model="ca.value | modifier : 0" ng-model-options="{ getterSetter: true }" disabled>
              </md-input-container>
              <md-input-container>
                <label>Save</label>
                <input ng-model="ca.value | modifier : character.ability_proficiency_value(ca.ability)"
                       ng-model-options="{ getterSetter: true }" disabled>
              </md-input-container>
            </md-content>
          </div>
          <md-grid-tile-footer>
            <h3>{{ca.ability.name}}: {{ca.value}} - {{character.ability_proficiency(ca.ability)}}</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>
    <div style="width:33%;">
      {{character.character_abilities}}
    </div>
  </div>
</form>