<form name="nameForm">
  <div layout="row" layout-align="space-around start" flex>
    <div style="width: 50%;">
      <md-grid-list md-cols-sm="1" md-cols-gt-sm="2"
                    md-row-height="2:1"
                    md-gutter="8px" md-gutter-gt-sm="4px">
        <md-grid-tile ng-repeat="ca in character.character_abilities"
                      md-rowspan="1" md-colspan="1">
          <div class="flip-container ability {{character.ability_proficiency(ca.ability) ? 'proficient' : ''}}" ontouchstart="$(this).toggleClass('hover');">
            <div class="flipper">
              <div class="front">
                <img ng-src="{{urls[ca.ability.name]}}" style="width:100%"/>
              </div>
              <div class="back">
                <md-input-container>
                  <label>{{ca.ability.name}}</label>
                  <input ng-model="ca.value">
                </md-input-container>
              </div>
            </div>
          </div>
          <div class="ability" flex>
            <md-content layout-padding layout="column" layout-sm="column">
              <md-input-container>
                <label>Ability</label>
                <input ng-model="ca.value | modifier : 0" ng-model-options="{ getterSetter: true }" disabled>
              </md-input-container>
              <md-input-container>
                <label>Save</label>
                <input ng-model="ca.value | modifier : character.ability_proficiency_value(ca.ability)"
                       ng-model-options="{ getterSetter: true }" disabled>
              </md-input-container>
            </md-content>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
    <div style="width:50%;">
        <table datatable="ng" class="row-border hover" dt-options="skills_dtOptions">
          <thead>
          <tr>
            <th>Skill</th>
            <th>Ability</th>
            <th>Modifier</th>
            <th>Proficiency Multiplier</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="skill in character.skills" class="{{ (skill.proficient ? 'highlight' : '') }}" ng-click="skill.proficient = !skill.proficient">
            <td>{{ skill.name }}</td>
            <td>{{ skill.ability.name }}</td>
            <td>{{ character.ability_score(skill.ability) | modifier : (skill.proficient ? character.proficiency() : 0) }}</td>
            <td><input ng-model="skill.proficiency_multiplier"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</form>
