<div ng-app="atmlApp" ng-controller="atmlCtrl" layout="column">
  <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools" ng-if="character.name">{{character.name}}'s Character Sheet</h1>
  </md-toolbar>
    <form name="nameForm">
      <md-content layout-padding layout="row" layout-sm="column">
        <md-input-container>
          <label>Name</label>
          <input ng-model="character.name">
        </md-input-container>
        <md-input-container>
          <label>Race</label>
          <input ng-model="character.race">
        </md-input-container>
        <md-input-container>
          <label>Alignment</label>
          <input ng-model="character.alignment">
        </md-input-container>
      </md-content>
      <md-content layout-padding layout="row" layout-sm="column">
        <md-input-container>
          <label>XP</label>
          <input ng-model="character.xp">
        </md-input-container>
        <md-input-container>
          <label>Level</label>
          <input ng-model="character.level">
        </md-input-container>
      </md-content>
      <md-content layout-padding layout="row" layout-sm="column">
        <md-select placeholder="Select Class" ng-model="character.adventuring_class" style="margin-top: 1.7em">
          <md-option ng-repeat="c in classes" ng-value="c.id">{{c.name}}</md-option>
        </md-select>
      </md-content>
    </form>
</div>
<!--
<div class="container-fluid" ng-app="ngModule">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>
  </div>
</div>
-->
