<div ng-app="atmlApp" ng-controller="atmlCtrl" layout="column">
  <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools" ng-if="user.name">Hello, {{user.name}}</h1>
  </md-toolbar>
  <md-content layout-padding layout="row" layout-sm="column">
    <form name="nameForm">
      <md-input-container>
        <label>Enter your name</label>
        <input ng-model="user.name">
      </md-input-container>
    </form>
  </md-content>
</div>
<!--
<div class="container-fluid" ng-app="ngModule">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>
  </div>
</div>
-->
