@import "datatables/media/css/jquery.dataTables";
@import "angular-material/angular-material";
@import "angular-bootstrap/ui-bootstrap-csp";
@import "bootstrap-css-only/css/bootstrap";

.hidden {
  display:none;
}

.ability {
  height: 100%;
  width: 50%;
}

.proficient {
  background-color: lightblue !important;
}

md-grid-tile {
  border: 1px #BBBBBB solid;
}

/* entire container, keeps perspective */
.flip-container {
  width: 50%;

  &:hover .flipper, &.hover .flipper {
    // Front pane, placed above back.
    .front {
      @include transform(perspective(1000px) rotateY(-180deg));
    }

    // Front pane, initially hidden
    .back {
      @include transform(perspective(1000px) rotateY(0));
    }
  }

  .flipper {
    position: relative;
  }

  .front, .back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include backface-visibility(hidden);
    @include transform(perspective(1000px) rotateY(180deg));
    @include transition-duration(0.6s);

    &.front {
      z-index: 2;
      @include transform(perspective(1000px) rotateY(0));
    }
  }
}


/* flip the pane when hovered 
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container {
  width: 50%;
  height: 100%;
}
.front, .back {
  width: 100%;
  height: 100%;
}

// flip speed goes here 
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

// hide back of pane during swap
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

// front pane, placed above back
.front {
  z-index: 2;
  // for firefox 31
  transform: rotateY(0deg);
}

// back, initially hidden pane
.back {
  transform: rotateY(180deg);
}
*/

md-input-container {
  padding-bottom: 10px;
}
